<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @subject %></h3>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      You have elected to receive these notifications. You can opt out by visiting <%= link_to root_url, root_url %>, clicking on your profile, and updating your preferences.
    </p>
  </body>
</html>
